.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 10;
  background-color: white;
  height: 80px;
}

.header__title{
  width: 80px;
}

.header__title img{
  width: 100%;
}

.header__navigation{
  width: 600px;
}

.header__navigation__list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header__navigation__item a{
  text-decoration: none;
  color: black;
  font-weight: 600;
}

@media screen and (min-width: 769px) {
  .header__navigation__res{
    display: none;
  }

  .menu {
    display: none;
  }
}
/* Header */


@media screen and (max-width: 768px){
  .header__navigation {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: white;
    height: 80px;
  }

  .menu{
    width: 36px;
    height: 32px;
    cursor: pointer;
    position: relative;
    z-index: 20;
  }

  .menu__top-line,
  .menu__middle-line,
  .menu__bottom-line{
    display: inline-block;
    width: 100%;
    height: 4px;
    background-color: black;
    position: absolute;
    transition: 0.5s;
  }

  .menu__top-line{
    top: 0;
  }

  .menu__middle-line{
    top: 14px;
  }

  .menu__bottom-line{
    bottom: 0;
  }

  .header__navigation__res{
    position: absolute;
    background: white;
    top: 0;
    left: -100%;
    width: 100%;
    height:100vh;
    z-index: 20;
    transition: .7s;
    box-sizing: border-box;

  }

  .header__navigation__list__res{
    text-align: center;
    margin: 0 auto;
    padding: 80px 0 0 0;
  }

  .header__navigation__item__res{
    margin-bottom: 40px;
  }

  .header__navigation__item__res a {
    text-decoration: none;
    font-weight: 600;
    color: blue;
  }

    .menu.open span:nth-of-type(1) {
      top: 14px;
      transform: rotate(45deg);
    }
  
    .menu.open span:nth-of-type(2) {
      opacity: 0;
    }
  
    .menu.open span:nth-of-type(3) {
      top: 14px;
      transform: rotate(-45deg);
    }

  .in{
    transform: translateX(100%);
  }
}

/* responsive */

.top__title{
  height: 800px;
  width: 100%;
  background-image: url(../img/mv.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.top__title__text{
  color: white;
  text-align: center;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.top__title__text h1{
  font-size: 60px;
}

.top__title__text p{
  margin-top: 10px;
  font-size: 20px;
}

.top__sub-title{
  background-color: black;
  height: 300px;
  color: white;
  padding: 100px 48px 0 48px;
}

.top__sub-title h2{
  font-size: 32px;
}

.top__sub-title p{
  font-size: 20px;
  margin-top: 24px;
}

/* top-container */

.service-container{
  margin: 48px 48px 0 48px;
}

.service__title{
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
}

.service__contents{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.service__item:not(:last-child){
  margin-bottom: 24px;
}

.service__item{
  width: 45%;
}

.service__item img{
  width: 100%;
  display: block;
}

.service__item h3{
  margin: 10px 0 10px 0;
  font-size: 18px;
}

.service__item p{
  font-size: 16px;
  line-height: 1.4;
}

.service__button__link{
  display: block;
  color: white;
  background-color: #cd0224;
  width: 200px;
  margin: 10px auto 0 auto;
  padding:12px 24px ;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

/* Service-container */

/* service responsive */
@media screen and (max-width: 768px){
  .service__item {
      width: 80%;
    }
}
/* responsive end */

.news-container{
  background-color: black;
  height: 300px;
  color: white;
  padding: 80px 48px 80px 48px;
  margin: 48px 0 0 0;
}

.news__title--box{
  display: flex;
  justify-content: space-between;
  margin-bottom: 36px;
}

.news__title{
  font-size: 36px;
}

.news__button__link{
    display: block;
    color: white;
    background-color: #cd0224;
    width: 160px;
    padding:12px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.news__item{
  background-color: white;
  margin: 15px 0;
  padding: 20px 10px;
}

.news__item a{
  text-decoration: none;
  color: black;
}

.news__item__main_text{
  display: inline-block;
  font-weight: bold;
  margin-left: 10px;
}

/* news-container */

.blog-container{
  margin: 48px 48px 0 48px;
}

.blog__title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
}

.blog__contents{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.blog__post{
  width:30%;
}

.blog__post img{
  display: block;
  width: 100%;
  height: auto;
}

.blog__post a{
  text-decoration: none;
  color: black;
}

.blog__post__created{
  margin: 16px 0 16px 0;
}

.blog__post__title{
  font-size: 20px;
}

.blog__button__link {
  display: block;
  color: white;
  background-color: #cd0224;
  width: 200px;
  margin: 20px auto 0 auto;
  padding: 12px 24px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}

/* blog-container */

/* blog responsive */
@media screen and (max-width: 768px){
  .blog__post {
      width: 80%;
    }

  .blog__post__created {
    margin: 12px 0 8px 0;
  }

  .blog__post__title{
    margin-bottom: 12px;
  }
}

/* end */

.info-container{
  margin-top: 48px;
  height: 300px;
  display: flex;
}

.info__company__link, .info__recruit__link{
  display: block;
  line-height: 300px;
  text-align: center;
  width: 50%;
  text-decoration: none;
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.info__company__link{
  background-color: #cd0224;
}

.info__recruit__link{
  background-color: black;
}
/* info-container */

.contact-container {
  background-color: #f5f6f9;
  height: 200px;
  color: white;
  padding: 80px;
  margin: 80px 0 0 0;
}

.contact__title{
  text-align: center;
  color: black;
  font-size: 36px;
  margin-bottom: 30px;
}

.contact__text{
  text-align: center;
  color: black;
  font-size: 20px;
  margin-bottom: 48px;
}

.contact__button__link {
  display: block;
  color: white;
  background-color: #cd0224;
  width: 200px;
  margin: 20px auto 0 auto;
  padding: 12px 24px;
  text-decoration: none;
  text-align: center;
  font-weight: bold;
}
/* contact-container */

.fotter{
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.fotter__copy{
  color: white;
  width: 180px;
  font-size: 14px;
}

.fotter__navigation__list{
  display: flex;
  justify-content: space-around;
}

.fotter__navigation__list{
  width: 600px;
}

.fotter__navigation__list a{
  text-decoration: none;
  color: white;
  font-weight: 400;
  font-size: 14px;
}

.fotter__navigation__item{
  padding: 0 10px;
}

.fotter__navigation__item:not(:last-child) {
  border-right: solid 1px white;
}

/* footer responsive */
@media screen and (max-width: 768px){
  .fotter__navigation__list{
    display: inline-block;
    width: 120px;
    text-align: center;
  }

  .fotter__navigation__item:not(:last-child) {
    border-right: solid 0px white;
    margin-bottom: 10px;
  }

  .fotter{
    padding: 30px 120px;
  }
  
}